{% extends "base.njk" %}
{% block title %}カテゴリ追加画面{% endblock %}
{% block content %}
<div class="pb-2 border-bottom mb-3">
  <form method="post" action="/todos/categories">
    <label for="name" name="form-label">カテゴリ名</label>
    <input id="name" name="name" type="text" class="form-control" required>
    <div class="mt-2 text-end">
      <input type="submit" class="btn btn-primary" value="カテゴリを追加">
    </div>
  </form>
</div>
<div class="text-end">
  <a class="btn btn-primary" href="/todos">ToDoを追加する</a>
</div>
{% endblock %}
